.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 10rem;
}

.responsiveNavbar {
  display: none;
}

.header {
  display: flex;
  align-items: center;
}

.links {
  display: hidden;
  display: flex;
  
}

.link {
  font-weight: 400;
  text-decoration: none;
  color: black;
}

/* phone */
@media screen (max-width: 767px) {
  .responsiveNavbar {
    display: block;
  } 

  .title {
    display: none;
  }
}

/*Max Tablet*/ 
@media screen (max-width: 1023px) {
  .links {
    display: flex;
  }
}